<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">


    <context-param>
    <param-name>jdbcURL</param-name>
    <param-value>jdbc:mysql://localhost:3306/time?useSSL=false</param-value>
    </context-param>

    <context-param>
    <param-name>jdbcUsername</param-name>
    <param-value>root</param-value>
    </context-param>

    <context-param>
    <param-name>jdbcPassword</param-name>
    <param-value>justbemyself1998</param-value>
    </context-param>

    <servlet>
    <servlet-name>UserController</servlet-name>
    <servlet-class>Controller.UserController</servlet-class>
    </servlet>

    <servlet-mapping>
    <servlet-name>UserController</servlet-name>
        <url-pattern>/user/*</url-pattern>
    </servlet-mapping>

    <servlet>
    <servlet-name>FollowController</servlet-name>
    <servlet-class>Controller.FollowController</servlet-class>
    </servlet>

    <servlet-mapping>
    <servlet-name>FollowController</servlet-name>
    <url-pattern>/follow/*</url-pattern>
    </servlet-mapping>

    <servlet>
    <servlet-name>AppinfoController</servlet-name>
    <servlet-class>Controller.AppinfoController</servlet-class>
    </servlet>

    <servlet-mapping>
    <servlet-name>AppinfoController</servlet-name>
    <url-pattern>/appinfo/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RecordController</servlet-name>
        <servlet-class>Controller.RecordController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RecordController</servlet-name>
        <url-pattern>/record/*</url-pattern>
    </servlet-mapping>

</web-app>